* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

html {
  font-family: "Karla", sans-serif;
}

/* header */

.header {
  background: linear-gradient(90deg, #672280 1.18%, #a626d3 100%);
  color: #fff;
  min-height: 4.0625rem;
  display: flex;
  align-items: center;
  padding: 1.25rem;
}

.header__img {
  width: 1.9375rem;
  height: 1.625rem;
}

.header__h3 {
  font-size: 20.7482px;
  line-height: 24px;
  letter-spacing: -0.1em;
  margin-right: auto;
}

.header__course-version {
  font-family: "Inter", sans-serif;
  font-size: 12px;
  line-height: 15px;
  text-align: right;
}
