* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

html {
  font-family: "Karla", sans-serif;
}

/* App */
.app {
  max-width: 31.25rem;
  margin: 0 auto;
}

/* Header */

.header {
  background: linear-gradient(90deg, #672280 1.18%, #a626d3 100%);
  color: #fff;
  min-height: 4.0625rem;
  display: flex;
  align-items: center;
  padding: 1.25rem;
}

.header__img {
  max-width: 1.9375rem;
  height: 1.625rem;
}

.header__h3 {
  font-size: 20.7482px;
  line-height: 1.5rem;
  letter-spacing: -0.1em;
  margin-right: auto;
}

.header__course-version {
  font-family: "Inter", sans-serif;
  font-size: 0.75rem;
  line-height: 0.9375rem;
  text-align: right;
}

/* Meme */

.meme {
  padding: 2.25rem;
}

.meme__form {
  display: flex;
  flex-wrap: wrap;
  gap: 1.0625rem;
}

.meme__form__input {
  padding-left: 0.9375rem;
  height: 2.5rem;
  flex-grow: 1;
}

.meme__form__input::placeholder {
  font-family: "Karla";
  color: #0d0d0d;
}

.meme__form__btn {
  background: linear-gradient(90.41deg, #711f8d 1.14%, #a818da 100%);
  color: #fff;
  width: 100%;
  height: 2.5rem;
  margin-bottom: 0.9375rem;
  cursor: pointer;
}

.meme__form__input,
.meme__form__btn {
  border: none;
  border: 1px solid gainsboro;
  border-radius: 0.3125rem;
}

/* Meme Image */
.meme__img {
  max-width: 100%;
}
